{% extends 'base.html' %}
{% block title %}Liste des patients{% endblock %}
{% block content %}
{% load bootstrap5 %}
<form url="{%url "consultation-creation" %}" method="post" class="form p-3">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Créer la consultation
      </button>
    {% endbuttons %}
{% block scriptblock %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_patient').select2();
  });
</script>
{% endblock scriptblock %}
{% endblock %}
